// Define variables for your color scheme

// For example:
$red: #F88379;
$blue: #10509F;
$light-blue:#20B5FC;
$dark-gray:#242424;
$gray: #a4b0c1;
$light-gray: #F0F4F7;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
// $gray: #000000;
// $light-gray: #F4F4F4;

