

// Specific CSS for your home-page
.banner {
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  // align-items: center;
  // justify-content: center;


}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.search-field {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: 50px;
  color: $dark-gray;

}

.simple_form .string .search-field {
  border-radius: none;
}

.simple_form .string .search-field-left {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.banner-content {
  margin-top: 150px;
}

.form-wrapper {
  margin-top: 80px;
}

