// Import page-specific CSS files here.
@import "home";
@import "user";
@import "show";

.main-container {
  margin: 8px;
}


.btn-filter {
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 18px;
  color: $gray;
  margin-left:16px;
  background-color: $light-gray;

  &:hover {
    color: $light-blue;
    background-color: white;
    border-color: $light-blue;
  }
}

#price {
  color: $gray;
  padding: 4px 9px;
  border-radius: 4px;
  background-color: $light-gray;

  &:hover {
    color: $light-blue;
    background-color: white;
    border-color: $light-blue;
  }
}


.map-card-container {
  display: flex;
  margin-bottom: 16px;


}
#map {
  flex: 0 0 320px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

.filter-top {
  display:flex;
  border-bottom: 0.5px solid $gray;
  border-top: 0.5px solid $gray;
  padding: 16px;
  padding-left: 32px;
  justify-content: flex-start;

}


.cards-container {
  flex: 1 1 auto;
  margin-right: 24px;
  margin-left: 24px;
}

.card {
  height: 322px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  min-width: 160px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;

}
.card-category {
  position: absolute;
  top: 10px;
  display:flex;


  background-color: $gray;

  padding-left: 15px;
  padding-right: 15px;
  h3 {
    font-size: 24px;
    margin: 5px;
  }
  p {
    font-size: 16px;
    margin-bottom: 0px;
    padding-top: 7px;
  }

}

.ratings {
  display: flex;
  p {
    margin-left: 5px;
  }
}
.card-outter {
  box-shadow: 1px 1px 1px grey;
  border-radius: 3px;
  &:hover {
    opacity: 0.9;
  }
}

.card-footer {
  padding-left: 10px;
  padding-bottom: 10px;

  h2 {
    font-size: 18px;
    margin-top: 16px;
  }
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2 {
  font-size: 24px;
  }

  p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  }

}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

// .card-link:hover {
//   opacity: 0.1;
// }
