.btns-container {
  flex: 1 1 auto;
  margin-right: 24px;
  margin-left: 24px;
  display: flex;
}

.go-back {
  background-color: #469AE0;
  flex: 0 0 450px;

}

.request-booking {
  background-color: #469AE0;
    flex: 0 0 450px;

}

.edit-boat {
  background-color: #469AE0;
    flex: 0 0 450px;

}

.delete-boat  {
  background-color: #469AE0;
    flex: 0 0 450px;
}

.edit-and-delete {
  display: flex;
  padding-right: 10px;
}

.title-box {
  padding-left: 25px;
}

.edit-delete-btn {
  margin-left: 0;
  margin-top: auto;
  margin-bottom: 20px;
  min-width: 50px;
  flex: 0;
}
.boat-info-and-review {
  display: flex;
  justify-content: space-between;

}
.boat-info-description-and-review {
  display: flex;
  justify-content: space-between;
}

.description-and-review {
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 50px;
}


.boat-info-container {
  // padding-left: 10px;
  // padding-right: 10px;
  margin: auto;
  margin-top: 25px;
  margin-right: 25px;
  text-align: justify;

  // position: static;

  flex: 0 0 450px;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 25px;

    // border:1px solid blue;
    // border-left:10px solid #ccc;
    // background:#eee;
}

.boat-info-text {
  padding-left: 5px;
  margin-top: 5px;
}

.request-and-back-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.request-and-go-back-btn {
  flex: 0;
  min-width: 190px;
}


.review-avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  padding-left: 0px;
}

.review-profile {
  padding-right: 18px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-profile p {
   font-size: 10px;
}

.review-content {
  flex: 1;
}

.single-review {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}

.by-name {
  font-size: 10px;
}

.boat-review-container {
}

.request-div {
  padding-bottom: 24px;
}

.card1 i {
  font-size: 20px;
}

.boat-description-container {
  padding: 20px;
}

.boat-info-text p {
  border-bottom: 1px solid rgba(220,224,244,0.4);

}

.requestbtn {
  background: #03B4FF;
border-radius: 3px;
padding: 6px 10px;
margin-left: 5px;
color: white;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
transition: 0.3s;

  &:hover {
    background: #007baf;
    text-decoration: none;
    color: white;
  }
}

.backbtn {
  background: #03B4FF;
border-radius: 3px;
padding: 6px 10px;
margin-left: 5px;
color: white;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
transition: 0.3s;

  &:hover {
    background: #007baf;
    text-decoration: none;
    color: white;
  }

}

.request-div {
  display: flex;
  justify-content: center;
}

.edit-delete-btn a {
  font-size: 28px;
  color: white;
}


















