

.grid {
  display: grid;
  grid-template-columns: 900px 1fr;
  grid-template-rows: 25% 25% 25% 25%;
}


.boat-bookings {

  grid-row:1;
  grid-column: 1 / span 1;

}

.profile-info {
  grid-row: 1;
  grid-column: 2 / span 2
}


.card1 {
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid grey;
  padding: 15px;

}
