
<div class="container">

<h1>Thanks for reviewing your trip/cruise</h1>

<h2><%= @review.title %></h2>

<p><%= @review.content %></p>

<%= link_to "Back to all Bookings", user_path(current_user.id)  %>

</div>
