<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/">
    <img src="" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to 'Log in', new_user_registration_path %>
    <%= link_to 'Add boat', boat_new_path %>


  </div>
